[submodule "components/open-authenticator-component"]
	path = components/open-authenticator-component
	url = https://github.com/Open-Authenticator/open-authenticator-component.git
[submodule "components/wifi-handler-component"]
	path = components/wifi-handler-component
	url = https://github.com/Open-Authenticator/wifi-handler-component.git
[submodule "components/qr-code-generator-component"]
	path = components/qr-code-generator-component
	url = https://github.com/Open-Authenticator/qr-code-generator-component.git
[submodule "oa_store/www"]
	path = oa_store/www
	url = https://github.com/Open-Authenticator/open-authenticator-website.git
	branch = gh-pages
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.0
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
